.bicicleta-bg:nth-child(odd) {
  background: linear-gradient(to right, var(--cor-0)30%, var(--cor-11) 30%);
}

.bicicletas {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  padding-top: 60px;
  padding-bottom: 60px;
}

.bicicletas-imagem {
  display: grid;
}

.bicicletas-imagem img {
  grid-area: 1/1;
}

.bicicletas-imagem span {
  grid-area: 1/1;
  background-color: var(--cor-12);
  display: inline-block;
  margin-top: 20px;
  border-radius: 4px 0 0 4px;
  padding: 8px 16px 8px 8px;
  place-self: start end;
}

.bicicletas-conteudo {
  display: grid;
  grid-template-columns: 1fr auto;
}

.bicicletas-conteudo h2,
.bicicletas-conteudo > p {
  grid-column: 1 / -1;
}

.bicicletas-conteudo > p {
  margin-bottom: 0;
}

.bicicletas-conteudo h2::before {
  content: "";
  width: 12px;
  height: 8px;
  display: block;
  background-color: var(--cor-p1);
  margin-bottom: 10px;
  transition: width 0.2s;
}

.bicicletas-conteudo h2:hover:before {
  width: 20px;
}

.bicicletas-conteudo .botao {
  place-self: end;
  margin-bottom: 40px;
}

.bicicletas li {
  display: flex;
  gap: 10px;
  align-items: center;
}

.bicicletas li + li {
  margin-top: 16px;
}

.bicicletas-conteudo img {
  width: 24px;
}

@media (max-width: 800px) {
  .bicicleta-bg:nth-child(odd) {
    background: var(--cor-11);
  }
  .bicicletas {
    grid-template-columns: 1fr;
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .bicicletas .botao {
    justify-self: start;
    margin-top: 25px;
    grid-column: 1 / -1;
  }
  .bicicletas ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
