.introducao-bg {
  background-color: var(--cor-12);
  box-shadow: inset 0 -120px #fff;
  padding-top: 40px;
}

.introducao {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0px 40px;
}
.introducao p,
.introducao a {
  grid-column: 1;
}

.introducao img {
  grid-column: 2;
  grid-row: 1/3;
  height: 100%;
  width: 100%;
  border-radius: 4px;
  object-fit: cover;
}

.introducao-conteudo {
  padding-top: 150px;
}

.introducao h1 {
  margin-bottom: 32px;
}

.introducao p {
  margin-bottom: 40px;
}

@media (max-width: 800px) {
  .introducao {
    grid-template-columns: 1fr;
    gap: 40px;
    padding-top: 20px;
  }
  .introducao-bg {
    background-color: var(--cor-11);
    padding-top: 40px;
    box-shadow: inset 0 -60px var(--cor-0);
  }
  .introducao h1 {
    margin-bottom: 16px;
  }
  .introducao p {
    margin-bottom: 30px;
  }
  .introducao-conteudo {
    padding: 0px;
  }
  .introducao img {
    height: 300px;
    width: 100%;
  }
}
